<div class="m-flex m-flex-v-align-center m-padding-left-s">
  <div>
    <a routerLink="/">
      Mehyar Sawas-Donauer
    </a>
  </div>
  <div class="m-padding-left-s">
    <button mat-button [matMenuTriggerFor]="containersMenu" [color]="rla.isActive ? 'primary' : null">
      Containers
    </button>
    <mat-menu #containersMenu>
      <button mat-menu-item routerLink="Containers/SplitContainer" routerLinkActive="m-active" #rla="routerLinkActive">
        Split Container
      </button>
    </mat-menu>
  </div>
</div>

