/* global tags styles */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* variables */

:root {
  /* colors */
  --primary-color: crimson;
  --secondary-color: dimgrey;
  /* z-index */
  --z-index-10: 10;
}

/* color classes */

.m-bg-color-white {
  background: #fff !important;
}
.m-bg-color-primary {
  background: var(--primary-color) !important;
}
.m-text-color-primary {
  color: var(--primary-color) !important;
}
.m-bg-color-secondary {
  background: var(--secondary-color) !important;
}
.m-text-color-secondary {
  color: var(--secondary-color) !important;
}

/* Flex classes */
.m-flex {
  display: flex;
}

.m-flex-v-align-center {
  align-items: center;
}

.m-flex-align-center {
  justify-content: center;
}

.m-flex-vertical {
  flex-direction: column;
}

.m-width-full {
  width: 100%;
}

.m-height-full {
  height: 100%;
}

.m-height-full-vh {
  height: 100vh;
}

.m-stretch {
  width: 100%;
  height: 100%;
}

.m-flex-grow {
  flex-grow: 1;
}

/* state classes */
.m-active {
  font-weight: 500 !important;
  color: var(--primary-color) !important;
}

/* Spacing classes */
.m-padding-left-s {
  padding-left: .5rem;
}
.m-padding-s {
  padding: .5rem;
}

/* interaction */
.m-image-link:hover {
  box-shadow: 0 0 7px 2px #555;
  cursor: pointer;
}

/* override mat classes */

.mat-menu-content {
  padding: 0 !important;
}
.mat-menu-panel {
  background: #fff;
  min-height: 0 !important;
}
.mat-menu-panel button {
  color: initial;
}
.mat-primary {
  color: var(--primary-color) !important;
}
.mat-card {
  background: #fff;
  color: initial;
}
