<div class="m-padding-s">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Site Content
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <a routerLink="Containers/SplitContainer">Split Container</a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img routerLink="Containers/SplitContainer" src="assets/split-container.PNG" alt="split-container" class="m-image-link">
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
